.loader {
    margin: 10% auto;
    --s: 40px;
    height: calc(var(--s) * 0.9);
    width: calc(var(--s) * 5);
  
    mask:
      conic-gradient(from 54deg at calc(var(--s) * 0.68) calc(var(--s) * 0.57), transparent 0, #000 0.5deg 108deg, transparent 109deg),
      conic-gradient(from 90deg at calc(var(--s) * 0.02) calc(var(--s) * 0.35), transparent 0, #000 0.5deg 36deg, transparent 37deg),
      conic-gradient(from 126deg at calc(var(--s) * 0.5) calc(var(--s) * 0.7), transparent 0, #000 0.5deg 108deg, transparent 109deg),
      conic-gradient(from 162deg at calc(var(--s) * 0.5) 0, transparent 0, #000 0.5deg 36deg, transparent 37deg);
  
    mask-size: var(--s) var(--s);
    mask-composite: exclude, add;
    mask-repeat: repeat-x;
  
    background: linear-gradient(#ff9900 0 0) left/0% 100% #ddd no-repeat;
    animation: l20 2s infinite linear;
  }
  
  @keyframes l20 {
    90%,
    100% {
      background-size: 100% 100%;
    }
  }
  
.hidden {
    display: none;
}
