*{
    padding: 0;
    margin: 0;
}
body {
    color: white;
    background-color: black;
    
}

ul {
    list-style: none; 
    display: flex; 
    justify-content: space-around;
    margin-top: 300px;
    
}

a{
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.8rem);
}

.topimage {
    top: 0;
    left: 0;
    position: fixed;
    z-index: inherit;
    max-width: 8vh;
  }
  .copyright{
    font-size: 2.5vh;
    position: absolute;
    bottom: 1%;
    padding: 1vh auto;
    right: 1%;
}